<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">v2-frontend</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="state">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dapr - State
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="statesdk">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dapr - State (SDK)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="servicediscovery">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dapr - Svc Call (SDK)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="publisher">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dapr - Pub/Sub (SDK)
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
